:root {
    --dark-background: #1F2937;
    --button-color: #3882F8;
    --white-grey: #E5E7EB;
}


body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: var(--button-color);
    color: #F9FAF8;
    padding: 4px 16px;
    border-radius: 6px;
    border: var(--button-color);
}

.logo{
    font-size: 24px;

}

.section-one {
    /* background-image: linear-gradient(to right, var(--dark-background), #F9FAF8); */
    background-color: var(--dark-background);
    font-size: 18px;
    color: var(--white-grey);
}

.header-nav {
    display: flex;
    flex: 1;
}

.hero-section {
    display: flex;
    flex: 1;
}